{% load bootstrap4 %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> {% if title %}
    <title>PhotoGallery - {{title}}</title>
    {% else %}
    <title>PhotoGallery</title>
    {% endif %} {% block styles %} {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}"> {% endblock %}

</head>

<body>

        {% block content %} {% endblock %}
    <hr>
   




</body>
<style>
</style>
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% bootstrap_javascript %} {% endblock %}

</html>