{% extends 'base.html' %}
{% block content %}
{{block.super}}
<script>
    function myFunction() {
      var copyText = document.getElementById("myInput");
      copyText.select();
      document.execCommand("Copy");
      alert("Copied the text: " + copyText.value);
    }
  </script>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{image.image_url.url}}" class="img-responsive img-thumbnail" alt="">
        </div>
        <div class="col-md-6">
            <h1>{{image.name}}</h1>
            <p>{{image.description}}</p>
            <p>{{image.upload_date}}</p>
            <input class="form-control" type="text" value="{{image.image_url}}" id="myInput">
            <button onclick="myFunction()" class="btn-info">Copy link</button>
        </div>
    </div>
</div>
{% endblock %}