{% block content %}

<div class="container" style="margin-left:10%; margin-left:5%; margin-top:4%">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Simon_Pixels</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <button>
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </button>
                </li>
                <li class="nav-item">
                    <button>
                        <a class="nav-link" id="Portrait" data-toggle="pill">Portraits</a>
                    </button>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="arts" data-toggle="pill">Arts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="weddings" data-toggle="pill">Weddings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Gradutation" data-toggle="pill">Graduations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Concerts" data-toggle="pill">Concerts</a>
                </li>

            </ul>
            <form action="{% url 'search' %}" role='search' class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" class="form-control" placeholder="Enter Category" name="category">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search
                    <i class="glyphicon glyphicon-search"></i>
                </button>

            </form>
        </div>
    </nav>
    <div class="tab-content" style="margin-top:4%">

        {% for img in images %} {% for category in img.category.all %} {% if category.category_name == "Portrait" %}
        <div id="Portrait" class="col-lg-4 col-md-4 col-sm-12 tab-pane fade in active">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img src="{{img.image_url.url}}" alt="{{img.name}}">
                </div>
                <div class="panel-footer">
                    <button class="btn btn-default" style="margin-left:30%">
                        <a href="/image/{{img.id}}">VIEW DETAILS</a>
                    </button>
                </div>
            </div>
        </div>
        {% elif category.category_name == "wedding" %}
        <div id="wedding" class="col-lg-4 col-md-4 col-sm-12 tab-pane fade">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img src="{{img.image_url.url}}" alt="{{img.name}}">
                </div>
                <div class="panel-footer">
                    <button class="btn btn-default" style="margin-left:30%">
                        <a href="/image/{{img.id}}">VIEW DETAILS</a>
                    </button>
                </div>
            </div>
        </div>
        {% elif category.category_name == "art" %}
        <div id="art" class="col-lg-4 col-md-4 col-sm-12 tab-pane fade">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img src="{{img.image_url.url}}" alt="{{img.name}}">
                </div>
                <div class="panel-footer">
                    <button class="btn btn-default" style="margin-left:30%">
                        <a href="/image/{{img.id}}">VIEW DETAILS</a>
                    </button>
                </div>
            </div>
        </div>
        {% elif category.category_name == "Graduation" %}
        <div id="Graduation" class="col-lg-4 col-md-4 col-sm-12 tab-pane fade">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img src="{{img.image_url.url}}" alt="{{img.name}}">
                </div>
                <div class="panel-footer">
                    <button class="btn btn-default" style="margin-left:30%">
                        <a href="/image/{{img.id}}">VIEW DETAILS</a>
                    </button>
                </div>
            </div>
        </div>
        {% else %}
        <div id="Concerts" class="col-lg-4 col-md-4 col-sm-12 tab-pane fade">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img src="{{img.image_url.url}}" alt="{{img.name}}">
                </div>
                <div class="panel-footer">
                    <button class="btn btn-default" style="margin-left:30%">
                        <a href="/image/{{img.id}}">VIEW DETAILS</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %} {% endfor %} {% endfor %} {% endblock %}