{% extends 'base.html' %} {% block content %} {{block.super}}
<div class="wrapper" style="background-image: url('https://farm3.staticflickr.com/2439/4100532594_19b629609d_b.jpg'); margin-top:0; background-repeat: no-repeat;background-size: cover; background-position: center; height:650px; ">
    <div class="container">
        <hr>
        <div class="split left">
            <div class="wrapper2">
                <h1 class="text">
                    <div class="line">
                        <p>Simon</p>
                        <p>Pixes</p>
                    </div>
                    <!-- <div class="line">
                    <p>Dance</p>
    
                </div> -->
                </h1>
            </div>
        </div>
        <nav class="navbar navbar-light bg-light" style="margin-top:9%; margin-left:10%; margin-right:10%;">

            <span></span>
            <!-- <div class="navbar-nav"> -->
            {% for category in categories %}

            <a href="/category/{{category.category_name}}" class="action-button shadow animate blue">
                {{category.category_name}}</a> 
            {% empty %}
            <h1>No Categories</h1>
            {% endfor %}
            <!-- </div> -->
        </nav>

        <form style="margin-top:8%; margin-left:10%; margin-right:10%; ">
            <input class="form-control form-control-lg" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-dark " type="submit" style="margin-left:40%; margin-top: 3%;">Search</button>
        </form>
    </div>
</div>
<style>
    .split {
        height: 100%;
        width: 100%;

    }

    .wrapper2 {

        position: absolute;
        margin-left: 45%;
        margin-top: 20%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .text {
        margin: 0;
        font-size: 86px;
        text-align: left;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
    }

    .text .line {
        overflow: hidden;
        white-space: nowrap;
        height: 70px;
        line-height: .9;
    }

    .text .line:first-child+.line {
        margin-left: 75px;
    }

    .text .line:first-child+.line+.line {
        margin-left: 150px;
    }

    .text .line>p {
        margin: 0;
        height: 70px;
        overflow: hidden;
        font-size: 1em;
        line-height: .9;
        white-space: nowrap;
        -webkit-animation: moveWords 6s infinite ease;
        animation: moveWords 6s infinite ease;
    }

    @-webkit-keyframes moveWords {
        0% {
            -webkit-transform: translateY(0%);
            transform: translateY(0%);
        }
        50% {
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
        }
        100% {
            -webkit-transform: translateY(0%);
            transform: translateY(0%);
        }
    }

    @keyframes moveWords {
        0% {
            -webkit-transform: translateY(0%);
            transform: translateY(0%);
        }
        50% {
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
        }
        100% {
            -webkit-transform: translateY(0%);
            transform: translateY(0%);
        }
    }
</style>
{% endblock %}