{% extends 'base.html' %} {{block.super}} {% block content %} {% for img in images %}
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
            <p id="img-copy"></p>

                <img src="{{img.image_url.url}}" alt="{{img.name}}" style="width:50%; height:70%;">
        </div>
    </div>
</div>
{% endfor %} {% for img in images %}
<div class="modal fade bd-example-modal-lg" id="{{img.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 modal-image">
                        <a href="/image/{{img.category.category}}/{{img.id}}">
                            <img src="{{img.image_url.url}}" alt="{{img.name}}" style="width:100%; height:100%;">
                        </a>
                    </div>
                    <div class="image-details">
                        <p class="text-center">
                            <a class="btn btn-outline-danger tool-tip">
                                <span class="tip-text" id="tip">Copy Link</span>
                                <i class="fa fa-link fa-2x" aria-hidden="true"></i>
                            </a>
                        </p>
                        <p class="text-center">
                            <a data-toggle="modal" data-target="#{{img.id}}">{{img.name}}</a>
                        </p>
                    </div>
                    <div class="col-md-12 modal-text">
                        <h5 class="modal-title" id="modal-title"> {{img.name}} </h5>
                        <hr>
                        <p>{{img.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %} {% endblock %}